<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="line slide-top">
          <img src="../assets/logo.svg" alt="Logo" width="100" height="100" class="d-inline-block align-text-top svg-image">
          <h1>Imperio Galáctico<p>| Inventario naves</p></h1>
        </div>
      </a>
    </div>
  </nav>

  <div class="table-container">
    <router-outlet/>
  </div>

</body>
</html>
